<h1><%= t('email.confirm_signup_student.first_line') %>, <%= @student.name %></h1>

<p>
	<%= t 'email.confirm_signup_student.confirm_link_html', link: link_to(t('email.confirm_signup_student.click_here'), @confirmation_link %>
</p>

<p>
    <%= t('email.confirm_signup_student.third_line_part_one') %> <%= link_to "DiscussYourCity", root_url %> <%= t('email.confirm_signup_student.third_line_part_two') %>
</p>
