<h1><%= t('email.confirm_signup_school.first_line') %>, <%= @school.name %></h1>

<p>
    <%= t 'email.confirm_signup_school.confirm_link_html', link: link_to(t('email.confirm_signup_school.click_here'), @confirmation_link) %>
</p>

<p>
    <%= t('email.confirm_signup_school.third_line_part_one') %> <%= link_to "DiscussYourCity", root_url %> <%= t('email.confirm_signup_school.third_line_part_two') %>
</p>
