
<% @comments.each do |comment| %>
    <div class="comment">

        <li class="collection-item avatar">

            <i class="large mdi-action-thumb-up circle"></i>

            <span class="title" style="font-size: 1.1em;"><b><%= comment.content %></b></span>

            <p>
                Por:
                <% if comment.anonymous == '1' %>
                    <span>Anônimo</span>
                <% else %>
                    <% if comment.student_id %>
                        <span><%= link_to comment.student.name, comment.student %></span>
                    <% elsif comment.school_id %>
                        <span><%= link_to comment.school.name, comment.school %></span>
                    <% end %>
                <% end %>

                <br>
                Há <%= time_ago_in_words(comment.created_at) %> atrás
            </p>

            <% if (student_signed_in? && comment.student == current_student) || (school_signed_in? && comment.school == current_school) %>
                <p class="secondary-content">
                    <%= link_to "Deletar", [comment.post, comment], method: :delete, data: {confirm: "Deseja excluir essa solução?"}, class: "btn red"%>
        	    </p>
            <% end %>

        </li>
        <li class="divider"></li>

    </div>

<% end %>
