<% @comments.each do |comment| %>
    <div class="comment">

        <li class="collection-item avatar">

            <% if student_signed_in? && comment.student_id != current_student.id %>

                <% if @post.close_post != '1' %>
                    <% if current_student.liked? comment %>
                        <%= link_to content_tag(:i, "", :class => "medium mdi-action-thumb-up circle blue darken-4"), unlike_post_comment_path(@post.id, comment), method: :put, :onclick => "Materialize.toast('Unliked', 800, 'rounded')" %>
                    <% else %>
                        <%= link_to content_tag(:i, "", :class => "medium mdi-action-thumb-up circle blue-grey darken-4"), like_post_comment_path(@post.id, comment), method: :put, :onclick => "Materialize.toast('Liked', 800, 'rounded')" %>
                    <% end %>
                <% else %>
                    <% if current_student.liked? comment %>
                        <a onclick="Materialize.toast('Solução já encontrada!', 1200)">
                            <i class="medium mdi-action-thumb-up circle blue darken-4"></i>
                        </a>
                    <% else %>
                        <a onclick="Materialize.toast('Solução já encontrada!', 1200)">
                            <i class="medium mdi-action-thumb-up circle blue-grey darken-4"></i>
                        </a>
                    <% end %>
                <% end %>
            <% end %>

            <% if school_signed_in? && current_school.name == @post.school_name %>
                <% if current_school.liked? comment %>
                    <%= link_to content_tag(:i, "", :class => "medium mdi-action-thumb-up circle blue-grey darken-4"), unlike_post_comment_path(@post.id, comment), method: :put, :onclick => "Materialize.toast('Unliked', 800, 'rounded')" %>
                <% else %>
                    <%= link_to content_tag(:i, "", :class => "medium mdi-action-thumb-up circle blue darken-4"), like_post_comment_path(@post.id, comment), method: :put, :onclick => "Materialize.toast('Liked', 800, 'rounded')" %>
                <% end %>
            <% end %>


            <span class="title" style="font-size: 1.1em;"><b><%= comment.content %></b></span>

            <p>
                Por:
                <% if comment.anonymous == '1' %>
                    <span><%= t('comments.anonymous') %></span>
                <% else %>
                    <% if comment.student_id %>
                        <span><%= link_to comment.student.name, comment.student %></span>
                    <% elsif comment.school_id %>
                        <span><%= link_to comment.school.name, comment.school %></span>
                    <% end %>
                <% end %>

                <br>
                <%= time_ago_in_words(comment.created_at) %> <%= t('comments.time_ago') %>
                <br>
                <%= comment.get_upvotes.size %> <%= t('comments.how_many_votes_text') %>
                <br>

                <% if @school.liked? comment %>
                    <strong><%= t('comments.voted_by_school_best_solution') %></strong>
                <% end %>

            <% if (student_signed_in? && comment.student == current_student) || (school_signed_in? && comment.school == current_school) %>
                <p class="secondary-content">
                    <%= link_to t('comments.delete_link'), [comment.post, comment], method: :delete, data: {confirm: t('comments.confirm_delete')}, class: "btn red"%>
        	    </p>
            <% end %>

        </li>
        <li class="divider"></li>

    </div>

<% end %>
