<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>

        <h1 class="header center blue-text">Discuss Your School</h1>

        <div class="row center">
            <h5 class="header col s12 light"><%= t('home.index.school_better_place') %></h5>
        </div>

        <div class="row center">
            <% if student_signed_in? || school_signed_in? %>
                <%= link_to t('home.index.solve_school_problems'), posts_path, class: "btn-large waves-effect waves-light blue" %>
            <% else %>
                <a href="#" class="btn-large dropdown-button waves-effect waves-light blue darken-2" data-activates='signup'><%= t('home.index.signup') %></a>
                <a href="#" class="btn-large dropdown-button waves-effect waves-light blue" data-activates='login'><%= t('home.index.login') %></a>
            <% end %>
        </div>

      <br><br>

    </div>
 </div>


<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <div class="col s12 m4">
              <div class="icon-block">
                  <h2 class="center blue-text text-darken-2"><i class="mdi-action-account-balance"></i></h2>
                  <h5 class="center"><%= t('home.index.improve_school_environment') %></h5>

                  <p class="light">
                      <%= t('home.index.first_big_text') %>
                  </p>
              </div>
          </div>

          <div class="col s12 m4">
              <div class="icon-block">
                  <h2 class="center blue-text text-darken-2"><i class="mdi-social-group"></i></h2>
                  <h5 class="center"><%= t('home.index.solve_in_group') %></h5>

                  <p class="light">
                      <%= t('home.index.second_big_text') %>
                  </p>
              </div>
          </div>

          <div class="col s12 m4">
              <div class="icon-block">
                  <h2 class="center blue-text text-darken-2"><i class="mdi-action-favorite"></i></h2>
                  <h5 class="center"><%= t('home.index.improve_relation_with_school') %></h5>

                  <p class="light">
                      <%= t('home.index.third_big_text') %>
                  </p>
              </div>
          </div>
      </div>
    </div>
    <br><br>
</div>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><%= t('home.index.about_who_made') %></h5>
                <p class="grey-text text-lighten-4">
                    <%= t('home.index.fourth_big_text') %>
                </p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text"><%= t('home.index.the_project') %></h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/DiscussYourSchool/discussyourschool"><%= t('home.index.site_at_GSF') %></a></li>
                    <li><a class="white-text" href="https://github.com/DiscussYourSchool/discussyourschool"><%= t('home.index.source_code') %></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
          <%= t 'home.index.made_by' %> <b>Leonardo</b> <%= t 'home.index.and' %> <b>Thor</b> <%= t 'home.index.to_science_fair' %>
        </div>
    </div>
</footer>
