<div class="notify-school container">

    <%= form_for @school, :url => password_reset_school_path(params[:id]) do |f| %>

        <% if @school.errors.any? %>
            <div class="error_messages">
                <h2><%= t('password_reset_schools.edit.form_invalid') %></h2>
                <ul>
                    <% for message in @school.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="input-field col s12">
                <%= f.password_field :password, placeholder => t('password_reset_schools.edit.placeholder_password') %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <%= f.password_field :password_confirmation, :placeholder => t('password_reset_schools.edit.placeholder_password_confirmation') %>
            </div>
        </div>

        <div class="row"><%= f.submit t('helpers.submit.password_reset_schools_edit'), class: "btn btn-large blue darken-1" %></div>
    <% end %>

</div>
