<div class="notify-school container">

    <%= form_for @student, :url => password_reset_student_path(params[:id]) do |f| %>

        <% if @student.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% for message in @student.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="input-field col s12">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>
        </div>

        <div class="row"><%= f.submit "Update Password", class: "btn btn-large blue darken-1" %></div>
    <% end %>

</div>
