<div class="notify-school container">
    <div class="row">
        <div class="input-field col s12">
            <%= form_tag password_reset_students_path, :method => :post do %>
                <div>
                    <%= label_tag :email %>
                    <%= text_field_tag :email, params[:email], placeholder: t('password_reset_students.new.placeholder') %>
                </div>

                <div><%= submit_tag t('helpers.submit.password_reset_students_new'), class: "btn btn-large blue darken-1" %></div>
            <% end %>
        </div>
    </div>

    <p class="notice">
	    <%= notice %>
	</p>

</div>
