<div class="container">
    <h2 class="light" style="font-size: 3em; text-align: center"><%= @school.name %></h2>

    <ul class="collection with-header">
        <li class="collection-header"><h4 style="text-align: center;"><%= t('schools.show.data') %></h4></li>
        <a class="collection-item" style="font-size: 1.2em;"><%= t('schools.show.students_count') %> <span class="badge" style="font-size: 1.1em;"><%= @students.count %></span></a>
        <a class="collection-item" style="font-size: 1.2em;"><%= t('schools.show.approve') %><span class="badge" style="font-size: 1.1em;"><%= @school.get_likes.size %></span></a>
        <a class="collection-item" style="font-size: 1.2em;"><%= t('schools.show.want_more_compromise') %> <span class="badge" style="font-size: 1.1em;"><%= @school.get_dislikes.size %></span></a>
    </ul>

    <div class="row">
        <div class="col s12" style="text-align: center; margin-top: 1.5%;">
            <% if student_signed_in? && current_student.school_name == @school.name %>
                <strong>
                    <p style="font-size: 1.5em;">
                        <%= t('schools.show.think_about_college') %>
                    </p>
                </strong>
                <% if current_student.liked? @school %>
                    <%= link_to t('schools.show.changed_opinion_one'), unlike_school_path(@school.id), method: :put, :onclick => "Materialize.toast('Unliked', 800)", class: "waves-effect waves-light btn orange" %>
                <% elsif current_student.disliked? @school %>
                    <%= link_to t('schools.show.changed_opinion_two'), undislike_school_path(@school.id), method: :put, :onclick => "Materialize.toast('Undisliked', 800)", class: "waves-effect waves-light btn orange" %>
                <% else %>
                    <%= link_to t('schools.show.good'), like_school_path(@school.id), method: :put, :onclick => "Materialize.toast('Liked', 800)", class: "waves-effect waves-light btn green" %>
                    <%= link_to t('schools.show.bad'), dislike_school_path(@school.id), method: :put, :onclick => "Materialize.toast('Disliked', 800)", class: "waves-effect waves-light btn red" %>
                <% end %>
            <% end %>
        </div>
    </div>

    <% if @students.count > 0 %>
        <div class="row">
            <div class="col s6">
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Alunos que mais divulgam problemas</th>
                            <th>Posição:</th>
                            <th>Quantidade de problemas divulgados:</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% i = 0 %>
                        <% @students_problems.each do |student| %>
                            <tr>
                                <td><%= student.name %></td>
                                <td>#<%= i = i + 1 %></td>
                                <td><%= student.posts_count %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="col s6">
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Alunos que mais sugerem soluções</th>
                            <th>Posição:</th>
                            <th>Quantidade de soluções sugeridas</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% i = 0 %>
                        <% @students_comments.each do |student| %>
                            <tr>
                                <td><%= student.name %></td>
                                <td>#<%= i = i + 1 %></td>
                                <td><%= student.comments_count %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>

</div>


<% if school_signed_in? && current_school == @school %>
    <p>
        <%= link_to t('schools.show.edit_school_link'), edit_school_path(@school) %>
    </p>
<% end %>
