<%= form_for @post do |f| %>

	<div class="row">
		<%= f.label :title %>
		<%= f.text_field :title, :autofocus => true %>
		<%= error_field @post, :title %>
	</div>

	<div class="row">
		<%= f.label :content %>
		<%= f.text_area :content, :autofocus => true %>
		<%= error_field @post, :content %>
	</div>

	<div class="row">
		<%= f.label :school_name %>
		<%= f.autocomplete_field :school_name, autocomplete_school_name_posts_path, class: "validate" %>
        <%= error_field @post, :school_name %>
	</div>

	<div class="row"><%= f.submit %></div>

<% end %>