<%= form_for @post do |f| %>

	<div class="row">
		<div class="input-field col s12">
			<%= f.label :title %>
			<%= f.text_field :title, :autofocus => true, class: "validate" %>
			<%= error_field @post, :title %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<i class="mdi-editor-mode-edit prefix"></i>
			<%= f.label :content %>
			<%= f.text_area :content, class: "materialize-textarea" %>
			<%= error_field @post, :content %>
		</div>
	</div>

	<br>

	<div class="row">
		<%= f.check_box :anonymous %>
		<%= f.label "Caso prefira, inicie a discussão anônimamente" %>
	</div>

	<div class="row"><%= f.submit "Postar problema", class: "btn btn-large blue darken-1" %></div>

<% end %>
