<nav class="blue darken-2">
    <div class="nav-wrapper">
        <%= link_to t('layouts.navbar_off.discuss_solve'), root_url, class: "brand-logo center" %>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Avalie sua escola!", school_path(student_school_name) %></li>
            <li><a href="" class="dropdown-button" data-activates="student-options-nav"><i class="mdi-navigation-more-vert"></i></a></li>
        </ul>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to current_student.school_name, posts_path %></li>
            <li><%= link_to t('layouts.navbar_student.new_post'), new_post_path %></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><%= link_to current_student.school_name, posts_path %></li>
            <li><%= link_to t('layouts.navbar_student.new_post'), new_post_path %></li>
            <li><%= link_to t('layouts.navbar_school.my_account'), student_path(current_student) %></li>
            <li><%= link_to t('layouts.navbar_school.logout'), student_sessions_path, method: :delete %></li>
        </ul>

    </div>
</nav>

<ul id="student-options-nav" class="dropdown-content">
    <li><%= link_to t('layouts.navbar_school.my_account'), student_path(current_student) %></li>
    <li><%= link_to t('layouts.navbar_school.logout'), student_sessions_path, method: :delete %></li>
</ul>
