<ul id="login" class="dropdown-content">
    <li><%= link_to t('layouts.navbar_off.like_school'), new_school_sessions_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('layouts.navbar_off.like_student'), new_student_sessions_path %></li>
</ul>

<ul id="signup" class="dropdown-content">
    <li><%= link_to t('layouts.navbar_off.like_school'), new_school_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('layouts.navbar_off.like_student'), new_student_path %></li>
</ul>

<ul id="login2" class="dropdown-content">
    <li><%= link_to t('layouts.navbar_off.like_school'), new_school_sessions_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('layouts.navbar_off.like_student'), new_student_sessions_path %></li>
</ul>

<ul id="signup2" class="dropdown-content">
    <li><%= link_to t('layouts.navbar_off.like_school'), new_school_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('layouts.navbar_off.like_student'), new_student_path %></li>
</ul>

<nav class="blue darken-2">
    <div class="nav-wrapper">
        <%= link_to t('layouts.navbar_off.discuss_solve'), root_url, class: "brand-logo" %>

        <ul id="slide-out" class="side-nav">
            <li><a class="dropdown-button" href="#" data-activates="login2"><%= t('layouts.navbar_off.login') %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
            <li><a class="dropdown-button" href="#" data-activates="signup2"><%= t('layouts.navbar_off.signup') %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#" data-activates="login"><%= t('layouts.navbar_off.login') %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
            <li><a class="dropdown-button" href="#" data-activates="signup"><%= t('layouts.navbar_off.signup') %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>